<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Biboloc.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FFF76A7C146518BE1AAB2C0F01EA6B2008CEC482</string>
				<key>dateExpires</key>
				<string>2024/08/05</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7PU4G736RJ.eiki.ogawa.Biboloc</string>
				<key>com.apple.developer.team-identifier</key>
				<string>7PU4G736RJ</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Biboloc.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ae7b45d4-e570-4345-af16-14be1fe154d0</string>
				<key>dateExpires</key>
				<string>2024/08/05</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: eiki.ogawa.Biboloc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7PU4G736RJ</string>
				<key>name</key>
				<string>Eiki Ogawa</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
